@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    background: #fff;
    color: #666666;
    font-family: "Open Sans", sans-serif;
}

a {
    color: #2dc997;
}

    a:hover, a:active, a:focus {
        color: #2dca98;
        outline: none;
        text-decoration: none;
    }

p {
    padding: 0;
    margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
}

/* Prelaoder */
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fff url("../img/preloader.svg") no-repeat center center;
}

/* Back to top button */
.back-to-top {
    position: fixed;
    display: inline;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 10px 12px 10px 12px;
    font-size: 15px;
    border-radius: 10px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
}

@media (max-width: 768px) {
    .back-to-top {
        bottom: 15px;
    }
}

.back-to-top:focus {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    outline: none;
}

.back-to-top:hover {
    background: #2dc997;
    color: #fff;
}


#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 10000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

/*--------------------------------------------------------------
# Begin Header
--------------------------------------------------------------*/
#header {
    padding: 30px 0;
    height: 92px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
}

#header #logo {
    float: left;
}

#header #logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 6px 0;
    line-height: 1;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#header #logo h1 a, #header #logo h1 a:hover {
    color: #fff;
}

#header #logo img {
    padding: 0;
    margin: 0;
}

@media (max-width: 768px) {
    #header #logo h1 {
        font-size: 26px;
    }

    #header #logo img {
        max-height: 40px;
    }
}

#header.header-fixed {
    background: rgba(52, 59, 64, 0.9);
    padding: 20px 0;
    height: 72px;
    transition: all 0.5s;
}
/*--------------------------------------------------------------
# End Header
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Begin Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    background-size: cover;
    position: relative;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

#hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#hero .hero_video-box {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: center;
    overflow: hidden;
    z-index: -999;
    min-height: 100%;
    max-height: 100%;
    display: block;
    width: 100%;
    height: 100vh;
    max-width: 2560px;
}

#hero .hero_video_before {
    content: "";
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}


#hero .hero_video {
    display: block;
    position: relative;
    z-index: 0;
    margin: 0 auto;
    width: 125%;
}

#hero h1 {
    margin: 30px 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
}

#hero h2 {
    color: #eee;
    margin-bottom: 50px;
    font-size: 24px;
}

@media (max-width: 768px) {
    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

#hero .btn-get-started {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

    #hero .btn-get-started:hover {
        background: #2dc997;
        border: 2px solid #2dc997;
    }

@media (max-width: 1400px) {

    #hero .hero_video-box {
        height: 100%;
    }

    #hero .hero_video {
        height: 100%;
    }

}

/*--------------------------------------------------------------
# End Hero Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Begin Navbar
--------------------------------------------------------------*/

/* Navbar button */
.navbar-togglers {
    position: fixed;
    display: inline;
    background: none;
    color: #fff;
    border: 0;
    padding: 1px 10px 1px 10px;
    font-size: 30px;
    border-radius: 10px;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

    .navbar-togglers:hover {
        background: #2dc997;
        color: #fff;
    }

/* Navbar button eye*/
.navbar-eye {
    position: fixed;
    display: inline;
    background: none;
    color: #fff;
    border: 0;
    padding: 1px 10px 1px 10px;
    font-size: 30px;
    border-radius: 10px;
    left: 15px;
    top: 15px;
    cursor: pointer;
    z-index: 9999
}

    .navbar-eye:hover {
        background: #2dc997;
        color: #fff;
    }


/*Navbar menu*/
#nav-menu-container .nav-menu {
    display: none;
}

#nav-menu-container-mobile {
    position: fixed;
    top: 72px;
    right: 0;
    left: 0px;
    bottom: 0px;
    z-index: 999;
    height: 100vh;
    background: rgba(52, 59, 64, 0.9);
    text-align: center;
    overflow:auto;
}

    #nav-menu-container-mobile i {
        color: #fff;
    }


/* Nav Menu Styling */
    #nav-menu-container-mobile .nav-menu a {
        padding: 20px 8px 10px 8px;
        text-decoration: none;
        display: inline-block;
        color: #fff;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 16px;
        outline: none;
        text-decoration: none;
        background-image: linear-gradient( #2dc997, #2dc997);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s;
    }

    #nav-menu-container-mobile .nav-menu a:hover {
        background-size: 100% 2px;
    }

    #nav-menu-container-mobile .nav-menu h4 {
        color: #fff;
        font-family: "Poppins", sans-serif;
    }

.verticalBar {
    border-left: 2px solid;
    border-color: #fff;
    height: 100vh;
}
    /*--------------------------------------------------------------
# End Navbar nav-menu-container-mobile .nav-menu
--------------------------------------------------------------*/
    /*--------------------------------------------------------------
# Begin Footer
--------------------------------------------------------------*/
    #footer {
        background: #343b40;
        padding: 30px 0;
        color: #fff;
        font-size: 14px;
    }

    #footer .copyright {
        text-align: center;
    }

    #footer .credits {
        padding-top: 10px;
        text-align: center;
        font-size: 13px;
        color: #ccc;
    }
/*--------------------------------------------------------------
# End Footer
--------------------------------------------------------------*/



/* Team Section
--------------------------------*/
#team {
    background: #fff;
    padding: 80px 0 60px 0;
}

    #team .member {
        text-align: center;
        margin-bottom: 20px;
    }

        #team .member .pic {
            margin-bottom: 15px;
            overflow: hidden;
            height: 260px;
        }

            #team .member .pic img {
                max-width: 100%;
            }

        #team .member h4 {
            font-weight: 700;
            margin-bottom: 2px;
            font-size: 18px;
        }

        #team .member span {
            font-style: italic;
            display: block;
            font-size: 13px;
        }

        #team .member .social {
            margin-top: 15px;
        }

            #team .member .social a {
                color: #b3b3b3;
            }

                #team .member .social a:hover {
                    color: #2dc997;
                }

            #team .member .social i {
                font-size: 18px;
                margin: 0 2px;
            }

/* Contact Section
--------------------------------*/
#contact {
    background: #f7f7f7;
    padding: 80px 0 40px 0;
}

    #contact #google-map {
        height: 300px;
        margin-bottom: 20px;
    }

    #contact .info {
        color: #333333;
    }

        #contact .info i {
            font-size: 32px;
            color: #2dc997;
            float: left;
        }

        #contact .info p {
            padding: 0 0 10px 50px;
            margin-bottom: 20px;
            line-height: 22px;
            font-size: 14px;
        }

        #contact .info .email p {
            padding-top: 5px;
        }

    #contact .social-links {
        padding-bottom: 20px;
    }

        #contact .social-links a {
            font-size: 18px;
            display: inline-block;
            background: #333;
            color: #fff;
            line-height: 1;
            padding: 8px 0;
            border-radius: 50%;
            text-align: center;
            width: 36px;
            height: 36px;
            transition: 0.3s;
        }

            #contact .social-links a:hover {
                background: #2dc997;
                color: #fff;
            }

    #contact .form #sendmessage {
        color: #2dc997;
        border: 1px solid #2dc997;
        display: none;
        text-align: center;
        padding: 15px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    #contact .form #errormessage {
        color: red;
        display: none;
        border: 1px solid red;
        text-align: center;
        padding: 15px;
        font-weight: 600;
        margin-bottom: 15px;
    }

        #contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
            display: block;
        }

    #contact .form .validation {
        color: red;
        display: none;
        margin: 0 0 20px;
        font-weight: 400;
        font-size: 13px;
    }

    #contact .form input, #contact .form textarea {
        border-radius: 0;
        box-shadow: none;
        font-size: 14px;
    }

    #contact .form button[type="submit"] {
        background: #2dc997;
        border: 0;
        padding: 10px 24px;
        color: #fff;
        transition: 0.4s;
    }

        #contact .form button[type="submit"]:hover {
            background: #51d8ad;
        }
