@inherits LayoutComponentBase

    <body>
        <Header />
        <AnchorUtilsComponent />
        <div class="main">
            <div class="content px-4">
                @Body
            </div>
        </div>
        <Footer />
        <ButtonBackToTop />
    </body>
