<div class="nav-menu-container">
    <button class="navbar-togglers" @onclick="ToggleNavMenu">
        <span class="fa fa-bars"></span>
    </button>
</div>

<div id="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <div class="nav-menu row">
        <div class="col-sm-4">
            <br>
            <h4>Предприятие</h4>
            <a href="#hero">Home</a> <br>
            <AnchorLink class="nav-link py-3 px-4" href="#MySection1"> MySection1 </AnchorLink>
            <a href="#about">About Us</a>
        </div>
       
        <div class="col-sm-4">
            <br>
            <h4>Услуга</h4>
            <a href="#services">Services</a>
            <br />
            <a href="#portfolio">Portfolio</a>
            <br />
            <a href="#portfolio">Portfolio</a>
            <br />
            <a href="#portfolio">Portfolio</a>
            <br />
            <a href="#portfolio">Portfolio</a>
            <br />
            <a href="#portfolio">Portfolio</a>
            <br />
            <a href="#portfolio">Portfolio</a>
            <br />
            <a href="#portfolio">Portfolio</a>
            <br />
            <a href="#services">Services</a>
            <br />
            <a href="#portfolio">Portfolio</a>
            <br />
            <a href="#portfolio">Portfolio</a>
        </div>
      
        <div class="col-sm-4">
            <br>
            <h4>Справочная иформация</h4>
            <a href="#team">Team</a><br>
            <p><a href="#contact">Contact Us</a></p>
            <br>
        </div>
    </div>
</div>


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "nav-menu-container" : "nav-menu-container-mobile";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}